@import "../../../../@theme/styles/themes";

@include nb-install-component() {
  nb-card {
    min-width: 1100px;
  }
}
.value {
  width: 100%;
}
.margin {
  margin-top: 5em;
}
#container {
  display: flex;
}
#container .colomn {
  display: flex;
  flex-direction: row;
}
.test {
  display: flex;
  justify-content: space-between;
}

.cursor-pointer {
  cursor: pointer;
}
