table{
  width: 100%;
}
.container {
  height:100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.test {
  display: flex;
  justify-content: space-between;
}
.margin-top-small {
  margin-top: 2em;
}

.cursor-pointer {
  cursor: pointer;
}

.subtitle {
  font-size: 20px;
  font-weight: 400;
  color: white;
}
.mat-paginator ::ng-deep{
  .ng-star-inserted{
    text-align: center;
 }
 }
