<nb-card status="info" class="position-center" style="max-width: 600px;">
  <div *ngIf="isLoading" class="loading-shade">
    <mat-spinner *ngIf="isLoading"></mat-spinner>
  </div>
  <nb-card-header>
    <span>
      <nb-icon class="cursor-pointer" (click)="goback()" icon="arrow-back-outline"></nb-icon>
    </span>
    <span class="subtitle" style="margin-left: 0.5em;">Update role</span>
  </nb-card-header>
  <nb-card-body>
    <form [formGroup]="roleEditForm" (ngSubmit)="onSubmit()">
      <div class="form-group row">
        <label for="inputEmail1" class="label col-sm-3 col-form-label">Name</label>
        <div class="col-sm-9">
          <input [status]="f.Name.invalid && submitted? 'danger' : 'basic'" type="text" nbInput fullWidth formControlName="Name" />
          <ng-container *ngIf="submitted && f.Name.errors">
            <p class="caption status-danger" *ngIf="f.Name.errors?.required">
              *Required!
            </p>
            <p class="caption status-danger" *ngIf="f.Name.errors?.pattern">
              *Invalid name!
            </p>
          </ng-container>
        </div>
      </div>
      <div class="form-group row">
        <label for="inputEmail1" class="label col-sm-3 col-form-label">Description</label>
        <div class="col-sm-9">
          <textarea rows="4" nbInput fullWidth formControlName="Description"></textarea>
        </div>
      </div>

      <div class="form-group row">
        <label for="inputEmail1" class="label col-sm-12 col-form-label">Access controls</label>
        <div class="col-sm-12">
          <table style="width: 100%;">
            <tr>
              <th style="padding-left: 1em; padding-right: 1em;">Access</th>
              <th style="padding-left: 1em; padding-right: 1em;">Permission</th>
            </tr>

            <ng-container formArrayName="RolePermissions">
              <ng-container *ngFor="
                  let accessControl of accessControls.controls;
                  index as i
                ">
                <ng-container [formGroupName]="i">
                  <tr>
                    <td style="padding-left: 1em; padding-right: 1em;">
                      {{ getName(i) }}
                    </td>
                    <td style="padding-left: 1em; padding-right: 1em;">
                      <mat-radio-group formControlName="Permission" style="display: flex;">
                        <mat-radio-button value="NONE">NONE&nbsp;&nbsp;</mat-radio-button>
                        <mat-radio-button value="READ" *ngIf="getName(i).includes('RW_') || getName(i).includes('R_')">READ&nbsp;&nbsp;</mat-radio-button>
                        <mat-radio-button value="WRITE" *ngIf="getName(i).includes('W_')">WRITE</mat-radio-button>
                      </mat-radio-group>
                    </td>
                  </tr>
                </ng-container>
              </ng-container>
            </ng-container>
          </table>
        </div>
      </div>

      <div class="form-group row">
        <label for="inputEmail1" class="label col-sm-3 col-form-label">Status</label>
        <div class="col-sm-9">
          <nb-radio-group formControlName="Status">
            <nb-radio value="ACTIVE">ACTIVE</nb-radio>
            <nb-radio value="INACTIVE">INACTIVE</nb-radio>
          </nb-radio-group>
        </div>
      </div>

      <div class="form-group row">
        <div class="offset-sm-3 col-sm-9">
          <button nbButton fullWidth status="primary" class="margin-top-small" size="large"
            style="text-transform: none;">
            Update
          </button>
        </div>
      </div>
    </form>
  </nb-card-body>
</nb-card>
