.margin-top-small {
    margin-top: 2em;
  }
  
  .subtitle {
    font-size: 20px;
    font-weight: 400;
    color: #1a1f37 !important;
  }
  
  .cursor-pointer {
    cursor: pointer;
  }

  .justify-content-opposite {
    display: flex;
    justify-content: space-between;
  }